body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    display: flex;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

.back-button {
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-right: 40px solid #2859a8f1; 
    margin-top: 120px; 
    margin-left: 30px; 
    margin-right: 20px;
    cursor: pointer;
}

.back-button:hover{
    border-right: 40px solid #4e83d8f1;
}

.header {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2859a8f1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header .countdown {
    font-size: 24px;
}

.header .user-info {
    font-size: 18px;
}

.content {
    display: flex;
    width: 80%;
    margin-top: 80px;
}

.question-area {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
}

.question {
    margin-bottom: 20px;
}

.question h3 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}


.question-number {

    width: 25%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 100px;
    right: 10%;
}

.question-list {

    list-style: none;
    padding: 0;
}

.question-list li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 25px;
    color: #322c2c;
    transition: background-color 0.3s ease;
}

.question-list li:hover {
    background-color: #f0f0f0;
}

.selected {
    margin: 10px;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    font-weight: bold;
    border: 2px solid #2859a8f1;
    border-radius: 50%; /* 将边框半径设置为 50% 实现圆形 */
    line-height: 50px; /* 垂直居中文本 */
    cursor: pointer;
}

.selected:hover {
    background-color: #333;
}

.action-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.action-buttons button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #2859a8f1;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.action-buttons button:hover {
    background-color: #20b7e5;
}

.titleview{
    border: 2px solid #212020;
    padding: 20px;
    height: 350px;
    margin-left: 20px;
    margin-top: 20px;
    max-width: 1200px; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
    overflow: auto; 
}
.submission-form {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 1200px; 
    padding: 20px;
    border: 2px solid #212020;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.text-input {
    width: 97%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    min-height: 50px; 
    overflow-y: auto; 
    resize: none;
}

.file-input {
    width: 100px;
    margin-bottom: 10px;
    float: left;
}

.image-preview {
    margin-top: 15px;
}

.image-preview img {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.time-button {
    margin-bottom: 10px;
    padding: 10px;
    width: 100px;
    border: 2px solid #ad7474f1;
    background-color: #2859a8f1;
    border-radius: 5px;
    /* background-color: #2859a8f1; */
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.time-button:hover {
    background-color: #20b7e5;
}