body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    display: flex;
}

.sidebar {
    width: 300px;
    background-color: #2859a8f1; 
    color: #fff; /* 白色文字 */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-size: contain;
}

.avatar-img {
    box-shadow: 0 0 20px rgb(245, 246, 245); /* 阴影效果 */
    border: 4px solid #fff; /* 边框 */
    width: 100px; /* 设置头像图片的宽度 */
    height: 100px; /* 设置头像图片的高度 */
    border-radius: 50%; /* 圆形边框 */
    object-fit: cover; /* 图片铺满容器 */
    margin-bottom: 10px; /* 图片与其他元素的间距 */
}

.modal {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 999; /* 确保在顶层显示 */
}

.modal-content {
    text-align: center;
}

.username {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sidebar ul {
    position: fixed;
    list-style: none;
    padding: 0;
    margin-top: 220px;
}

.sidebar li {
    
    padding: 15px 20px;
    border-bottom: 1px solid #555; /* 分隔线 */
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 文字阴影 */
}
.sidebar li {
    border: 1px solid #f8f4f4;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

.sidebar li:hover {
    border-radius: 5px;
    background-color: #3aa2b385; /* 鼠标悬停时的背景色 */
}

.logout-btn {
    background-color: #2859a8f1;
    color: #fff;
    position: fixed;
    bottom: 50px;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 2px;
    width: 10%;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logout-btn:hover {
    background-color: #4e83d8f1;
}

.info-area {
    flex: 1;
    background-color: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-area-content {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    
}

.user-info {
    position: fixed;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #555; /* 分隔线 */
}

/*账号管理的css*/
.account-form {
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 1200px;
    height: 800px;
}

.account-form h2 {
    margin-bottom: 20px;
}

.account-form label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    font-weight: bold;
}

.account-form input {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.account-form button {
    background-color: #2859a8f1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 4px;
}
.account-form button:hover {
    background-color: #005f79;
}
/*账号管理*/
.account-form ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}
.account-form li {
    padding: 15px 20px;
    border-bottom: 1px solid #9ee0ed; /* 分隔线 */
    cursor: pointer;
    box-shadow: 0 0 20px rgba(180, 244, 102, 0.5); /* 阴影效果 */
    transition: background-color 0.3s;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 文字阴影 */
}

.account-form li:hover {
    background-color: #20d0d9; /* 鼠标悬停时的背景色 */
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top-nav {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    justify-content: space-around;
    width: auto;
    height: 100px;
    border-bottom: 1px solid #555;
}

.top-nav a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Arial", sans-serif;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: #000000;
}

.button:hover {
    border-radius: 5px;
    background-color: #dddddd;
}

.search-container {
    display: flex;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
    width: auto;
}

.search-input {
    flex: 1;
    border: none;
    padding: 5px;
    box-sizing: border-box;
    color: #0e0e0e;
    background-color: #fafafa;
}

.search-button {
    font-size: 18px;
    background-color: #2859a8f1;
    width: 80px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #4e83d8f1;
}

.select-container {
    display: flex;
    width: 520px;
}

.select-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-box {
    width: 50%;
    height: 34px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
}

.text01 {
    width: 50%;
    height: 34px;
    padding: 7px;
    box-sizing: border-box;
    border: 1px solid #000;
    background-color: #fff;
}

.back-button {
    width: 0;
    height: 0;
    border-top: 25px solid transparent; /* 上边 */
    border-bottom: 25px solid transparent; /* 下边 */
    border-right: 40px solid #2859a8f1; /* 右边 */
    margin-top: 20px; /* 距离顶部20px */
    margin-left: 80px; /* 距离左边20px */
    cursor: pointer;
}

.back-button:hover{
    border-right: 40px solid #4e83d8f1;
}



.map-container {
    margin-top: -50px;
    margin-left: 200px;
    position: inherit;
    display: flex;
    width: 1000px;
}

.map-half {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-box {
    text-align: center;
    width: 50%;
    height: 50px;
    padding: 5px;
    box-sizing: border-box;
    border: 1.5px solid #000;
    border-radius: 5px;
    background-color: #fff;
}


.mindmap {
    padding: 20px;
    margin-top: 30px;
    width: 1200px;
    height: 600px;
    margin-left: 110px;
    border: 1.5px solid #fdfdfd;
    border-radius: 10px;
    background-color: royalblue;

}